<nav class="container-fluid topber-section">
    <div class="container">

        <div class=" nav-item dropdown" style="display:inline-block; float:right; ">

            <ul class="nav navbar-nav navbar-right" aria-labelledby="navbarDropdown">
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" style="text-decoration:none;color:white; background-color:green; padding:0px; "><b class="glyphicon glyphicon-triangle-bottom"></b></a>
                    <ul class="dropdown-menu desktop-submenu">
                        <li> <a asp-area="Institution" asp-controller="OE_Users" asp-action="LogOut">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div style="display:inline-block; float:right; padding-left:5px; padding-right:5px; color:black; ">|</div>
        <div style="display:inline-block; float:right; ">

            <label style="text-decoration:none;color:white;">Welcome Riaz</label>

        </div>

    </div>
</nav>
